<!DOCTYPE html>
<html>
    <head>
        <title>Sistema de Controle de Livros</title>
        <link href="../css/bootstrap.min.css" rel="stylesheet">
    </head>

    <body>
        <center>
            <img src="../imagens/logo.png" class="rounded" alt="Livro">
            <h1> Sistema de Controle de Livros </h1>
            <nav class="navbar bg-secondary justify-content-center">
                <a class="btn btn-sm btn-secondary" type="button" href="pessoaCreate">Cadastrar Pessoa</a>
                <a class="btn btn-sm btn-secondary" type="button" href="pessoaList">Listar Pessoas</a>
                <a class="btn btn-sm btn-secondary" type="button" href="veiculoCreate">Cadastrar Veiculo</a>
                <a class="btn btn-sm btn-secondary" type="button" href="veiculoList">Listar Veiculos</a>
                <a class="btn btn-sm btn-secondary" type="button" href="estacionamentoCreate">Cadastrar Estacionamento</a>
                <a class="btn btn-sm btn-secondary" type="button" href="estacionamentoList">Listar Estacionamentos</a>
                <a class="btn btn-sm btn-secondary" type="button" href="ocorrenciaCreate">Cadastrar Ocorrência</a>
                <a class="btn btn-sm btn-secondary" type="button" href="ocorrenciaList">Listar Ocorrências</a>
                <a class="btn btn-sm btn-secondary" type="button" href="livroCreate">Cadastrar Livro</a>
                <a class="btn btn-sm btn-secondary" type="button" href="livroList">Listar Livro</a>
                <a class="btn btn-sm btn-secondary" type="button" href="logout">Logout</a>
            </nav>
            {{{body}}}
        </center>
    </body>
</html>
