<form action="/livroCreate" method="post" class="row g-3 justify-content-center">
    <div class="row-md">
        <div class="col-md-5">
            <label class="form-label" for="nome">Nome</label>
            <input type="text" class="form-control" id="nome" placeholder="Nome" name="nome">
        </div>
    </div>
    <div class="row-md">
        <div class="col-md-5">
            <label class="form-label" for="autor">Autor</label>
            <input type="text" class="form-control" id="autor" placeholder="Autor" name="autor">
        </div>
    </div>
    <div class="row-md">
        <div class="col-md-5">
            <label class="form-label" for="editor">Editor</label>
            <input type="text" class="form-control" id="editor" placeholder="Editor" name="editor">
        </div>
    </div>
    <div class="row-md">
        <div class="col-md-5">
            <label class="form-label" for="genero">Gênero Literário</label>
            <input type="text" class="form-control" id="genero" placeholder="Gênero Literário" name="genero">
        </div>
    </div>
    <div class="row-md">
        <div class="col-md-5">
            <label class="form-label" for="numpag">Número de Páginas</label>
            <input type="number" class="form-control" id="numpag" placeholder="Número de Páginas" name="numpag">
        </div>
    </div>
    <div class="row-md">
        <div class="col-md-5">
            <button type="submit" class="btn btn-success">Cadastrar</button>
        </div>
    </div>
</form>