<form action="/veiculoCreate" method="post" class="row g-3 justify-content-center">
    <div class="row-md">
        <div class="col-md-5">
            <label class="form-label" for="tipo">Tipo</label>
            <input type="text" class="form-control" id="tipo" placeholder="Tipo" name="tipo">
        </div>
    </div>
    <div class="row-md">
        <div class="col-md-5">
            <label class="form-label" for="modelo">Modelo</label>
            <input type="text" class="form-control" id="modelo" placeholder="Modelo" name="modelo">
        </div>
    </div>
    <div class="row-md">
        <div class="col-md-5">
            <label class="form-label" for="fabricante">Fabricante</label>
            <input type="text" class="form-control" id="fabricante" placeholder="Fabricante" name="fabricante">
        </div>
    </div>
    <div class="row-md">
        <div class="col-md-5">
            <label class="form-label" for="placa">Placa</label>
            <input type="text" class="form-control" id="placa" placeholder="Placa" name="placa">
        </div>
    </div>
    <div class="row-md">
        <div class="col-md-5">
            <label class="form-label" for="cor">Cor</label>
            <input type="text" class="form-control" id="cor" placeholder="Cor" name="cor">
        </div>
    </div>
    <div class="row-md">
        <div class="col-md-5">
            <button type="submit" class="btn btn-success">Cadastrar</button>
        </div>
    </div>
</form>
