<form action="/pessoaCreate" method="post" class="row g-3 justify-content-center">
    <div class="row-md">
        <div class="col-md-5">
            <label class="form-label" for="nome">Nome</label>
            <input type="text" class="form-control" id="nome" placeholder="Nome" name="nome">
        </div>
    </div>
    <div class="row-md">
        <div class="col-md-5">
            <label class="form-label" for="nome">Telefone</label>
            <input type="number" class="form-control" id="telefone" placeholder="Telefone" name="telefone">
        </div>
    </div>
    <div class="row-md">
        <div class="col-md-5">
            <label class="form-label" for="email">Email</label>
            <input type="text" class="form-control" id="email" placeholder="Email" name="email">
        </div>
    </div>
    <div class="row-md">
        <div class="col-md-5">
            <label class="form-label" for="senha">Senha</label>
            <input type="password" class="form-control" id="senha" placeholder="Senha" name="senha">
        </div>
    </div>
    <div class="row-md">
        <div class="col-md-5">
            <label class="form-label" for="tipo">Tipo</label>
            <select name="tipo"  id="tipo" class="form-select" aria-label="Responsável Estacionamento">
                <option value=1>Responsável Estacionamento</option>
                <option value=2>Funcionário DESEG</option>
                <option value=3>Aluno</option>
                <option value=4>Visitante</option>
            </select>
        </div>
    </div>
    <div class="row-md">
        <div class="col-md-5">
            <label class="form-label" for="ramal">Ramal</label>
            <input type="number" class="form-control" id="ramal" placeholder="Ramal" name="ramal">
        </div>
    </div>
    <div class="row-md">
        <div class="col-md-5">
            <label class="form-label" for="sala">Sala</label>
            <input type="text" class="form-control" id="sala" placeholder="Sala" name="sala">
        </div>
    </div>
    <div class="row-md">
        <div class="col-md-5">
            <label class="form-label" for="cargo">Cargo</label>
            <input type="text" class="form-control" id="cargo" placeholder="Cargo" name="cargo">
        </div>
    </div>
    <div class="row-md">
        <div class="col-md-5">
            <label class="form-label" for="ra">RA</label>
            <input type="number" class="form-control" id="ra" placeholder="RA" name="ra">
        </div>
    </div>
    <div class="row-md">
        <div class="col-md-5">
            <label class="form-label" for="curso">Curso</label>
            <input type="text" class="form-control" id="curso" placeholder="Curso" name="curso">
        </div>
    </div>
    <div class="row-md">
        <div class="col-md-5">
            <label class="form-label" for="cpf">CPF</label>
            <input type="number" class="form-control" id="cpf" placeholder="CPF" name="cpf">
        </div>
    </div>
    <div class="row-md">
        <div class="col-md-5">
            <button type="submit" class="btn btn-success">Cadastrar</button>
        </div>
    </div>
</form>
